POSTGRES_USER=postgres
POSTGRES_PASSWORD=topaz
POSTGRES_DB=topaz
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:topaz@localhost:5432/topaz

WEB_URL=http://localhost:3000
API_PORT=3333
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_APP_URL=http://localhost:3000
